.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 2px solid #e5e7eb;
  grid-template-columns: 170px auto auto;
  grid-template-rows: 100%;
}

.shop-name-and-search {
  display: flex;
  width: 100%;
}

.search-container {
  width: 69%;
}

.user-func {
  display:flex;
}

.icon {
  display: flex;
  align-items: center;
  width: 64px;
  height: 64px;
}

.icon span {
  font-size: 25px
}

.user-overlayPanelDropDown {
  width: 321px;
  height: 325px;
  border-radius: 16px;
}

.online-shop-image-buttons-container {
  display: flex;
  height: 266px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-sign-up-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
}

.log-sign-btn {
  width: auto;
  margin-right: 7px;
  grid-column-start: 4;
  margin-left: auto;
  margin-inline-start: auto;
}

.log-in {
  width: 100%;
}

.sign-up {
  width: 100%;
}

::ng-deep .p-element.log-in .p-button-warning {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(45deg,#b71e4e,#f20062);
  font-family: Montserrat arm,sans-serif;
}

::ng-deep .p-element.log-in .p-button-warning:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

::ng-deep .p-element.sign-up .p-button-success {
  width: 100%;
  background-color: #f4f3f3;
  height: 40px;
  border-color: #f4f3f3;
  color: #b71e4e;
  box-shadow: 0 12px 16px -12px rgba(203,52,115,.3);
  border-radius: 20px;
  font-family: Montserrat arm,sans-serif;
}

.shop-name {
  text-decoration: none;
  padding: 16px;
  font-size: 21px;
  color: darkgray;
}

.line {
  display: none;
  height: 1px;
  border: 1px solid #3B82F6;
  width: 130px;
  margin-top: 17px;
}

.shop-name:hover .line {
  display: block;
}

.btn:hover .line {
  display: block;
}

:host ::ng-deep .p-dialog-title {
  margin-left: 24px;
}

:host ::ng-deep .gap-2 img {
  width: 20px;
  height: 20px
}

:host ::ng-deep .p-dropdown {
  width: 104px;
  height: 46px;
  margin-top: 6px;
}

::ng-deep #pn_id_2 {
  width:145px;
  border: none;
}

::ng-deep #pn_id_4 {
   width:145px;
   border: none;
  font-weight: 600;
 }

.language-and-price-change{
  display: flex;
  justify-content: space-around;
}

.language-change-line {
  border-bottom: 1px solid #bbb9b9;
  width: 145px;
}

.language-change-line:hover {
  border-bottom: 2px solid #b71e4e;
}

.price-change-and-line {
  border: none;
  border-bottom: 1px solid #bbb9b9;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  width: 145px;
}

.price-change-and-line:hover {
  border-bottom: 2px solid #b71e4e;
}

.country-code{
  font-weight: 600;
}

.online-shop-image{
  width: 82px;
  height: 62px;
}

.online-shop-image img{
  width: 82px;
  height: 62px;
}

.welcome-text{
  color: #36373c;
  font-weight: 300;
}

::ng-deep .p-dropdown .p-focus{
  box-shadow:none;
}

.flag-en{
  position: relative;
  top: -6px;
}

.search-container{
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 6px
}

.p-input-icon-left{
  width: 100%
}

.p-inputtext{
  width: 100%
}

.loggedInContent {
  width: auto;
  grid-column-start: 4;
  display: flex;
  margin-inline-start: auto;
}

/*.user {*/
/*  width: 43px;*/
/*  height: 43px;*/
/*  margin-top: 13px;*/
/*  margin-right: 17px;*/
/*}*/

.user-img {
  border-radius: 50%;
  height: 43px;
}

.user-dropdown-links {
  height: 410px;
}

.user-dropdown-links ul {
  padding: 0;
  margin: 0;
}

.user-links {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.li-hover :hover{
  background-color: #f8f0f6;
}

.user-links a {
  color: black;
  text-decoration: none;
}

.user-links img {
  margin-right: 15px;
  width: 32px;
  height: 32px;
}

/*::ng-deep .p-overlaypanel-content {*/
/*  padding: 0*/
/*}*/

/*.heart {*/
/*  width: 40px;*/
/*  height: 40px;*/
/*}*/

/*.user-cart {*/
/*  width: 40px;*/
/*  height: 40px;*/
/*}*/

.user-img img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.loggedIn-price-change-and-line {
  border-bottom: 1px solid #bbb9b9;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  width: 145px;
  justify-content: end;
}

.loggedIn-price-change-and-line :hover {

}

::ng-deep .userOverlay .p-overlaypanel-content {
  padding:  0;
}

::ng-deep .p-dropdown-label.p-inputtext {
  font-weight: 600;
}

::ng-deep .p-dropdown {
  border: none;
}

  /*:host ::ng-deep .pi-heart-fill {*/
/*  font-size: 33px;*/
/*  color: #f97316;*/
/*}*/

/*:host ::ng-deep .pi-shopping-cart {*/
/*  color: #22c55e;*/
/*  font-size: 33px;*/
/*}*/

.user-img {
  margin-top: 7px;
  border: 2px solid pink;
}

.content{
  display: flex;
  margin-right: 10px;
}

.label{
  font-size: 11.5px;
  margin-left: 7px;
  color: #847e7b;
}

@media only screen and (max-width: 815px) {
  ::ng-deep .p-dropdown{
    width: 70px
  }

  .header{
    grid-template-columns: auto;
    grid-template-rows: 100% 100%;
  }

  .search-container{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
  }

}

@media only screen and (max-width: 510px) {
  .log-in {
    margin-right: 4px;
  }
}

.pi-heart-fill:hover {
  font-size: 35px;
  cursor: pointer;
}

.pi-shopping-cart:hover {
  font-size: 35px;
  cursor: pointer;
}

:host ::ng-deep .dropdown div {
  width: 362px;
}

:host ::ng-deep .dropdown div ul li div a {
  font-size: 16px;
  font-weight: 600;
}

:host ::ng-deep .p-menuitem-content a .p-menuitem-icon{
  color: red;
  font-size: 18px;
}

:host ::ng-deep .p-menuitem-link{
  background-color: white;
}

:host ::ng-deep .dropdown div ul li div a:hover {
  background-color: pink;
  opacity: 0.9
}

.user-img img:hover{
  cursor: pointer;
}

:host ::ng-deep  .p-submenu-header{
  border-bottom: 2px solid grey;
}

:host ::ng-deep  .p-submenu-header span{
    text-transform: capitalize;
}

.user-dropdown .pi{
  color: red
}
