<div class="header">
    <a [routerLink]="['/']" class="shop-name">Yummy Shop
      <p class="line"></p>
    </a>
    <div class="search-container">
      <div class="card flex justify-content-center">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="value" class="search_input" />
          </span>
      </div>
    </div>
  <div class="log-sign-btn" *ngIf="!isAuth; else loggedInBlock">
    <p-button label="Log-In" class="log-in" severity="warning" (click)="loginShow()"></p-button>
    <p-button label="Sign-Up" class="log-in" severity="success" (click)="signUpShow()"></p-button>

    <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
            <img src="{{selectedCountry.flag_path}}" />
            <span class="country-code">{{selectedCountry.name}}</span>
        </div>
      </ng-template>
      <ng-template let-country pTemplate="item">
          <div class="selected_flag">
            <img src="{{country.flag_path}}" [class]="'flag flag-' + country.code.toLowerCase()" style="height: 18px"/>
            <span [class]="'flag_' + country.code.toLowerCase()">{{country.name}}</span>
          </div>
      </ng-template>
    </p-dropdown>

  </div>


  <ng-template #loggedInBlock>
    <div class="loggedInContent">
        <div class="content">
          <div class="user heart">
            <span class="pi pi-heart-fill"></span>
          </div>
          <div class="user user-cart">
            <span class="pi pi-shopping-cart"></span>
          </div>
          <div class="user user-img">
            <a href=""><img src="/assets/images/userImg.jpg"></a>
          </div>
          <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name">
            <ng-template pTemplate="selectedItem">
              <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
                <img src="{{selectedCountry.flag_path}}" />
                <span class="country-code">{{selectedCountry.name}}</span>
              </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
              <div class="selected_flag">
                <img src="{{country.flag_path}}" [class]="'flag flag-' + country.code.toLowerCase()" style="height: 18px"/>
                <span [class]="'flag_' + country.code.toLowerCase()">{{country.name}}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </div>

    </div>

  </ng-template>


</div>
