<!--<div class="container">-->
<!--  <div class="aboutUs">-->
<!--    <div class="context-container">-->
<!--    <span class="context">-->
<!--      <h2>Welcome to Our Yummy Shop !</h2>-->
<!--      <div class="line"></div>-->
<!--      <p>-->
<!--        At <span class="title">Yummy Shop,</span> we're more than just an online store — we're your go-to destination for a world of flavors,-->
<!--        a haven of quality, and a place where your shopping experience is our top priority.-->
<!--      </p>-->
<!--      <p>-->
<!--        Discover a curated selection of the finest products, handpicked to bring joy to your every day. From-->
<!--        gourmet treats to everyday essentials, we've assembled a collection that caters to your unique tastes and preferences.-->
<!--      </p>-->
<!--        <p class="policy">Privacy Policy:</p>-->
<!--        <p>-->
<!--          Your privacy matters to us. Learn about how we handle your data, ensuring a secure and trustworthy interaction when you shop with us.-->
<!--        </p>-->
<!--        <a href=""><p>Review Privacy Policy</p></a>-->

<!--    </span>-->
<!--    </div>-->

<!--    <div class="context-container">-->
<!--    <span class="context">-->
<!--          <h2>Our Mission</h2>-->
<!--          <div class="line"></div>-->
<!--          <ul>-->
<!--            <li>Curating Excellence:</li>-->
<!--            <p>-->
<!--              We strive to offer a carefully curated selection of premium products that meet the highest-->
<!--              standards of quality, taste,and craftsmanship. Each item in our collection tells a story of dedication and passion.-->
<!--            </p>-->

<!--            <li>Celebrating Variety:</li>-->
<!--            <p>-->
<!--              Yummy Shop is a celebration of diverse flavors and culinary traditions. We aim to provide a platform where-->
<!--              customers can explore a world of tastes, from familiar favorites to exciting new discoveries.-->
<!--            </p>-->

<!--            <li>Fostering Community:</li>-->
<!--            <p>-->
<!--              Beyond being an online store, Yummy Shop is a community of food enthusiasts.-->
<!--              We believe in the power of shared experiences and the joy of connecting over good food.-->
<!--              Join us in building a community that appreciates and celebrates culinary excellence.-->
<!--            </p>-->

<!--            <li>Spreading Joy:</li>-->
<!--            <p>-->
<!--              Ultimately, our mission is to bring joy to our customers' lives.-->
<!--              Whether it's discovering a new treat, finding the perfect gift,-->
<!--              or simply enjoying the convenience of online shopping,we want every-->
<!--              interaction with Yummy Shop to be a source of delight.-->
<!--            </p>-->

<!--          </ul>-->
<!--      </span>-->
<!--    </div>-->

<!--    <div class="context-container">-->
<!--    <span class="context">-->
<!--          <h2>Join Us at Yummy Shop</h2>-->
<!--          <div class="line"></div>-->
<!--          <p>-->
<!--            At Yummy Shop, we invite you to embark on a delightful journey through the world of flavors,-->
<!--            and we want you to be a part of it! Joining our community comes with a myriad of benefits:-->
<!--          </p>-->
<!--          <p>-->
<!--            Ready to make your shopping experience even more enjoyable? Click the link below and join the Yummy Shop community today! <a [routerLink]="['']" class="joinLink"><span class="pi pi-shopping-cart"></span>Join Now </a>-->
<!--          </p>-->
<!--      </span>-->
<!--    </div>-->

<!--    <div class="context-container">-->
<!--    <span class="context">-->
<!--          <h2>Contact Us</h2>-->
<!--          <div class="line"></div>-->
<!--          <p>Have a question, feedback, or just want to say hello? We'd love to hear from you! Feel free to reach out using any of the options below:</p>-->
<!--          <ul>-->
<!--            <li>-->
<!--              <span class="pi pi-comment icon"></span>-->
<!--              Email:-->
<!--              <span>  info&#64;yummyshop.com</span>-->
<!--            </li>-->
<!--            <li>-->
<!--              <span class="pi pi-phone icon"></span>-->
<!--              Customer Support:-->
<!--              <span>+1-555-123-4567</span>-->
<!--            </li>-->
<!--            <li>-->
<!--              Connect with us on social media for updates, promotions, and more:-->
<!--              <a href="" class="social-media-icon">-->
<!--                <span class="pi pi-instagram social"></span>-->
<!--              </a>-->
<!--              <a href="" class="social-media-icon">-->
<!--                <span class="pi pi-facebook social"></span>-->
<!--              </a>-->
<!--               <a href="" class="social-media-icon">-->
<!--                <span class="pi pi-telegram social"></span>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--      </span>-->
<!--    </div>-->

<!--  </div>-->

<!--</div>-->


<div class="container">
<!--    <div class="images">-->

<!--    </div>-->


  <div class="aboutUs">
    <div class="context-container">
    <span class="context">
      <h2>Welcome to Our Yummy Shop !</h2>
      <div class="line"></div>
      <p>
        At <span class="title">Yummy Shop,</span> we're more than just an online store — we're your go-to destination for a world of flavors,
        a haven of quality, and a place where your shopping experience is our top priority.
      </p>
      <p>
        Discover a curated selection of the finest products, handpicked to bring joy to your every day. From
        gourmet treats to everyday essentials, we've assembled a collection that caters to your unique tastes and preferences.
      </p>
        <p class="policy">Privacy Policy:</p>
        <p>
          Your privacy matters to us. Learn about how we handle your data, ensuring a secure and trustworthy interaction when you shop with us.
        </p>
        <a href=""><p>Review Privacy Policy</p></a>

    </span>
    </div>

    <div class="context-container">
    <span class="context">
          <h2>Our Mission</h2>
          <div class="line"></div>
          <ul>
            <li>Curating Excellence:</li>
            <p>
              We strive to offer a carefully curated selection of premium products that meet the highest
              standards of quality, taste,and craftsmanship. Each item in our collection tells a story of dedication and passion.
            </p>

            <li>Celebrating Variety:</li>
            <p>
              Yummy Shop is a celebration of diverse flavors and culinary traditions. We aim to provide a platform where
              customers can explore a world of tastes, from familiar favorites to exciting new discoveries.
            </p>

            <li>Fostering Community:</li>
            <p>
              Beyond being an online store, Yummy Shop is a community of food enthusiasts.
              We believe in the power of shared experiences and the joy of connecting over good food.
              Join us in building a community that appreciates and celebrates culinary excellence.
            </p>

            <li>Spreading Joy:</li>
            <p>
              Ultimately, our mission is to bring joy to our customers' lives.
              Whether it's discovering a new treat, finding the perfect gift,
              or simply enjoying the convenience of online shopping,we want every
              interaction with Yummy Shop to be a source of delight.
            </p>

          </ul>
      </span>
    </div>

    <div class="context-container">
    <span class="context">
          <h2>Join Us at Yummy Shop</h2>
          <div class="line"></div>
          <p>
            At Yummy Shop, we invite you to embark on a delightful journey through the world of flavors,
            and we want you to be a part of it! Joining our community comes with a myriad of benefits:
          </p>
          <p>
            Ready to make your shopping experience even more enjoyable? Click the link below and join the Yummy Shop community today! <a [routerLink]="['']" class="joinLink"><span class="pi pi-shopping-cart"></span>Join Now </a>
          </p>
      </span>
    </div>

    <div class="context-container">
    <span class="context">
          <h2>Contact Us</h2>
          <div class="line"></div>
          <p>Have a question, feedback, or just want to say hello? We'd love to hear from you! Feel free to reach out using any of the options below:</p>
          <ul>
            <li>
              <span class="pi pi-comment icon"></span>
              Email:
              <span>  info&#64;yummyshop.com</span>
            </li>
            <li>
              <span class="pi pi-phone icon"></span>
              Customer Support:
              <span>+1-555-123-4567</span>
            </li>
            <li>
              Connect with us on social media for updates, promotions, and more:
              <a href="" class="social-media-icon">
                <span class="pi pi-instagram social"></span>
              </a>
              <a href="" class="social-media-icon">
                <span class="pi pi-facebook social"></span>
              </a>
               <a href="" class="social-media-icon">
                <span class="pi pi-telegram social"></span>
              </a>
            </li>
          </ul>
      </span>
    </div>

  </div>

</div>
