<div class="card">
  <p-tabMenu [scrollable]="true" [model]="items" [activeItem]="activeItem"></p-tabMenu>
</div>
<div class="content" *ngIf="faveProductFound; else faveProductFoundTmp">
 <h1>Products</h1>
  <div class="favorite-products-container">
    <div class="products-gap grid" >
    <div class="product" *ngFor="let product of arrayOfFavProds" (click)="productShow(product.id, product.favProductCategory)">
       <div class="product-price-img-and-price">
            <div class="img-container">
              <img src="{{product.img}}" alt="">
            </div>
            <div class="product-description">
              <h3 class="title">{{product.title}}</h3>
              <p class="product_description">{{product.description}}</p>
            </div>
            <div class="price">
              <p>{{product.price}}</p>
            </div>
          </div>
          <div class="underline"></div>
      <div class="product-category">
        <div class="category-holder">
          <p class="category">{{product.favProductCategory}}</p>
        </div>
        <button class="view-more-btn">View more</button>
      </div>
    </div>
  </div>
</div>
</div>

<ng-template #faveProductFoundTmp>
  <div class="container">
    <div class="heart">
      <span class="pi pi-heart-fill notFoundHeart"></span>
    </div>
    <div class="notFoundText">
        <p>You can add your favorite foods, drinks or cakes to the list.:</p>
    </div>
    <div class="shopping-start-button">
      <a href="/"><p-button label="Start Shopping" type="submit" severity="success"></p-button></a>
    </div>
  </div>
</ng-template>

