<div class="card">
  <p-tabMenu [scrollable]="true" [model]="items" [activeItem]="activeItem"></p-tabMenu>
</div>

<div class="content">
    <h1>Products</h1>
  <div class="favorite-products-container">
    <div class="products-gap grid">

    <div class="product">
          <div class="product-price-img-and-price">
            <div class="img-container">
              <img src="assets/images/food/barbecue/BarbecueBlissMarinade.png" alt="">
            </div>
            <div class="product-description">
              <h3 class="title">Title</h3>
              <p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consectetur dicta enim fuga hic iure magnam minima saepe sapiente voluptas.</p>
            </div>
            <div class="price">
              <p>20$</p>
            </div>

          </div>
          <div class="underline"></div>

      <div class="product-category">
        <div class="category-holder">

          <p class="category">Barbeque</p>
        </div>
        <button class="view-more-btn">View more</button>
      </div>
    </div>
    <div class="product">
      <div class="product-price-img-and-price">
        <div class="img-container">
          <img src="assets/images/food/barbecue/BarbecueBlissMarinade.png" alt="">
        </div>
        <div class="product-description">
          <h3 class="title">Title</h3>
          <p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consectetur dicta enim fuga hic iure magnam minima saepe sapiente voluptas.</p>
        </div>
        <div class="price">
          <p>20$</p>
        </div>

      </div>
      <div class="underline"></div>

      <div class="product-category">
        <div class="category-holder">

          <p class="category">Barbeque</p>
        </div>
        <button class="view-more-btn">View more</button>
      </div>
    </div>
    <div class="product">
      <div class="product-price-img-and-price">
        <div class="img-container">
          <img src="assets/images/food/barbecue/BarbecueBlissMarinade.png" alt="">
        </div>
        <div class="product-description">
          <h3 class="title">Title</h3>
          <p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consectetur dicta enim fuga hic iure magnam minima saepe sapiente voluptas.</p>
        </div>
        <div class="price">
          <p>20$</p>
        </div>

      </div>
      <div class="underline"></div>

      <div class="product-category">
        <div class="category-holder">

          <p class="category">Barbeque</p>
        </div>
        <button class="view-more-btn">View more</button>
      </div>
    </div>
  </div>
</div>
</div>
